<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ copy.id }}</title>

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous"
    >

    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>
<body>
    <div class="container-fluid mt-4 px-5">

        <div class="mb-5">
            <a href="/" class="text-decoration-none text-dark">
                <h1 class="display-1">SK Cham Bibliothek</h1>
            </a>  
        </div>

        <a href="https://skcham.ch">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo_top_corner">
        </a>

        <h1>Infos</h1>

         <ul>
            <li> ID: {{ copy.id }} </li>
            <li>
                <span class="badge {{ 'bg-success' if copy.is_available else 'bg-danger' }}">
                    {{ 'verfügbar' if copy.is_available else 'nicht verfügbar' }}
                </span>
            </li>

            {% if not copy.is_available %}

            <li> Ausgeliehen von: {{ copy.get_current_owner_name() }}</li>
            
            <li> Ausgeliehen bis: {{ copy.get_give_back_until_pretty_string() }} {{ 'Abgelaufen!' if copy.is_late() else ''}} </li>

            {% endif %}

        </ul>


        {% if username == 'admin' %}

        <h2>Alte Besitzer</h2>
        <ul>
            {% for owner in copy.owners %}
            <li> {{ owner.name }}: {{ owner.start_date }} bis {{ owner.end_date }}</li>
            {% endfor %}
        </ul>

        <p>-------------------</p>

        <a href="/processing/remove-history/{{ copy.id }}">Historie löschen</a>

        <p>-------------------</p>

        <a href="/processing/remove-copy/{{ copy.id }}">Exemplar löschen</a>

        {% endif %}
    
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>